@model IEnumerable<Data.Entities.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Information User</h1>

<div class="d-flex justify-content-end mb-2">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
            data-bs-target="#UserModal" onclick="openModal('CreateUser')">
        Create User
    </button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int stt = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @stt
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupId)
                </td>
                <td>
                    <div class="d-flex gap-2 flex-wrap">
                        <button class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                                data-bs-target="#groupModal">
                            Detail
                        </button>
                        <button class="btn btn-outline-warning btn-sm" data-bs-toggle="modal"
                                data-bs-target="#groupModal">
                            Edit
                        </button>
                        <form id="deleteForm-@item.Id" asp-action="Delete" asp-route-id="@item.Id" method="post" class="d-inline-block">
                            <button type="button" class="btn btn-outline-danger btn-sm" onclick="confirmDelete(event, '@item.Id')">
                                Delete
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
